.profile {
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 128vh;

    .profile-sidebar {
        padding-top: 40px;
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 180px auto;
        border-right: solid 1px rgb(226, 226, 226);

        .header {
            padding-left: 3px;
            padding-bottom: 10px;
            margin-bottom: 30px;
            border-bottom: solid 1px rgb(226, 226, 226);
            display: grid;
            grid-template-columns: 120px auto;
            grid-template-rows: 1fr;
            gap: 15px;

            .avatar {
                grid-column: 1/2;
                grid-row: 1/2;
                width: 120px;

                img {

                    width: 100%;
                }
            }

            .header-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                grid-column: 2/3;
                grid-row: 1/2;

                .username {
                    font-weight: 500;
                    font-size: 28px;
                }

                .modify {
                    color: gray;
                }
            }

        }

        .body {
            .selection {
                padding-left: 15px;
                display: flex;
                align-items: center;
                height: 80px;
                margin-bottom: 50px;
                cursor: pointer;

                p {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 0;
                    padding-left: 15px;
                    font-size: 22px;
                    font-weight: 490;
                }

                &.active {
                    background-color: #e0e0ff;
                    border-right: solid 5px #7e7eff;
                }
            }
        }
    }

    .profile-content {
        padding-left: 100px;
        padding-right: 250px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px auto;

        .header {
            grid-column: 1/2;
            grid-row: 1/2;
            margin-top: 30px;

            p {
                font-weight: 500;
                font-size: 40px;
            }
        }

        .body {
            grid-column: 1/2;
            grid-row: 2/3;
            padding: 40px 60px 20px 80px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            height: fit-content;

            .a-info {
                &.not-change {
                    cursor: not-allowed;
                }

                p {
                    font-weight: 500;
                    margin-bottom: 8px;
                }

                .input-info {
                    margin-bottom: 25px;
                    border-radius: 30px;
                    background-color: #f0f0ff;
                    border: 0;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
                    width: 600px;
                    height: 45px;
                    padding-left: 20px;

                    &.not-modify {
                        pointer-events: none;
                    }

                    &:focus {
                        outline: none;
                        border: solid 3px #c8c8ff;
                    }
                }

                .department-dropdown {
                    display: grid;
                    grid-template-columns: 530px auto;
                    grid-template-rows: 1fr;
                    margin-bottom: 25px;
                    border-radius: 30px;
                    background-color: #f0f0ff;
                    border: 0;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
                    width: 600px;
                    height: 45px;
                    padding-left: 20px;

                    span {
                        display: flex;
                        align-items: center;
                        grid-column: 1/2;
                        grid-row: 1/2;
                    }

                    .department-dropdown-toggle {
                        border-radius: 0px 30px 30px 0px;
                        background-color: #e1e1ff;
                        grid-column: 2/3;
                        grid-row: 1/2;
                        border: 0;
                        color: #7e7eff;

                        &.not-modify {
                            pointer-events: none;
                        }
                    }
                }
            }

            .body-btn {
                margin-top: 30px;
                display: flex;
                justify-content: end;

                .btn {
                    width: 90px;
                    height: 40px;
                    margin-left: 15px;
                }
            }
        }
    }
}